img{
    width: 300px;
    height: 400px;
}
.contenttxt{
    position: absolute;
    left: 27%;
    top: 3%;
    font-family: Helvetica;
    letter-spacing: 0.4em;
    font-weight: 16px;
    font-size: 16px;
}